.footer-container{
    background-color: #343a40;
    color: white;
    margin-top: 25px;
}

.top-container {
    display: flex;
    gap: 1.25rem; 
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    height: 200px;
    align-items: flex-start;
    align-items: center;
    justify-content: center;
  }
  
  .logo-section {
    margin-top: 1rem;
  }
  
  .footer-logo-img {
    width: 10%;
    border-radius: 0.5rem;
    margin-bottom: 0.25rem;
  }
  
  .services-section {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
  }

  .service-header{
    margin-bottom: 0.5rem;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .link-container .service-link {
    text-decoration: none;
    color: white;
    margin-bottom: 0.5rem;
  }

  .service-link a{
    text-decoration: none;
    color: white;
  }
  
  .service-link:hover {
    color: #adb5bd;
  }
  
  .social-section {
    flex-grow: 1;
  }
  
  .social-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 2rem;
    color: white;
  }
  
  .social-link:hover {
    color: #adb5bd;
  }
  
  .bottom-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
    }
  
    .social-section, .rights-section {
      margin-top: 1rem;
    }
  }
  