.card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid transparent; 
    transition: transform 0.5s, border-color 0.5s;
    position: relative;
}


.card:hover {
    border: 1px solid #334155;
    border-radius: 10px;
    transform: scale(1.01);
}

.image {
    transition: transform 0.3s ease;
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 15px;
}

.image-container:hover .image {
    transform: scale(1.05);
}

.book-id{
    position: absolute;
    right: 3%;
    top: 3%;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
}

.card-content{
    padding: 10px 20px;
}

.card-title {
    color: #0f172a;
}

.card-title:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: #0f172a;
    opacity: 0.9; 
}

.authors{
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 10px;
}

.authors-content{
    font-weight: 500;
}

.genre-container{
    margin-bottom: 50px;
}

.genre{
    font-weight: 700;
    margin-bottom: 5px;
}

.genre-list{
    font-weight: 500;
}

.lower-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%; 
    gap: 20px;
}

.btn-container{
    width: 100%;
}

.icon-container{
    width: 100%;
    display: flex;
    justify-content: end;
    height: 31px;
    margin-bottom: 15px;
}

.details-button {
    background-color: #28a745; 
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 30px;
    width: 100%;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 15px;
}

.details-button:hover {
    background-color: #218838;
    color: white; 
}


.icon-button {
    border: 1px solid #3b82f6; 
    border-radius: 10px; 
    transition: all 0.3s ease;
    padding: 1px 20px;
    border: 1px solid blue;
  }

  .icon-button:hover {
    transform: translateY(-2px); 
    background-color: #1e3a8a;  
    color: white;              
  }

  .icon {
    height: 35px;  
    width: 35px;     
    border-radius: 9999px;
    padding: 1px 8px;     
    text-align: center;  
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
    padding-bottom: 10px;
  }
