
.navbar {
  background-color: #f1f5f9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.navbar-container {
  margin: auto;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  width: 100%;
  height: 75px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 14px;
}

.logo-img {
  width: 40px;
  border-radius: 8px;
}

.navbar-title {
  font-weight: bold;
  color: #4b5563;
  font-size: 24px;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  gap: 34px;
  list-style-type: none;
  align-items: center;
}

.nav-link {
  font-weight: 600;
  color: #1f2937;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 17px;
}


.wishlist-btn {
  display: flex;    
  gap: 2px;       
  align-items: center;   
  padding: 10px 15px;     
  background-color: #475569;
  color: white;             
  border: none;         
  border-radius: 24px;    
  cursor: pointer;            
  transition: background-color 0.3s;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}

.wishlist-btn:hover {
  background-color: #f87171;
}

.badge {
  background-color: #e4d7d7;
  color: white;             
  border-radius: 12px;       
  padding: 2px 8px;          
  margin-left: 3px;          
  font-size: 14px;          
}

.badge-secondary {
  background-color: #6b7280;
}

/*Icon Styling */
.wishlist-btn .IoIosHeartEmpty {
  font-size: 20px;          
}


.nav-link:hover {
  color: #f87171;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.login-button {
  padding: 8px 16px;
  background-color: #dc2626;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 24px;
  cursor: pointer;
}

.theme-toggle {
  position: relative;
}

.theme-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.hide {
  display: none;
}


/* Responsive */
.navbar-menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-container {
    padding: 10px 16px;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    background-color: #f1f5f9;
    position: absolute;
    top: 75px;
    right: 0;
    width: 200px;
    padding: 10px;
    gap: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-menu-toggle {
    display: block;
  }

  .navbar-title {
    font-size: 20px;
  }

  .login-button {
    padding: 6px 12px;
    font-size: 14px;
  }
}

/* Dark Theme */
body.dark-theme {
  background-color: #1f2937;
  color: white;
}

body.dark-theme .navbar {
  background-color: #111827;
}

body.dark-theme .nav-link {
  color: #d1d5db;
}

body.dark-theme .nav-link:hover {
  color: #f97316;
}